@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #dc030a;
    --primary-color-dark: rgb(135, 6, 12);
    --text-dark: #0a0a0a;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background:url(./image/img1.webp);
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color:var(--text-light);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 12px;
    padding: 0.75rem 1.5rem; 
    border: 1px solid transparent;  
    border-radius: 3px;  
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.container button:hover{
    background-color: var(--primary-color-dark);
}

.container button.hidden {
    background-color: var(--primary-color);
    color: var(--white);
}

.container button.hidden:hover{
    background-color: var(--primary-color-dark);
}

.container form{
    background-color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 104%;
}

.container input{
    background-color: var(--extra-light);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.container input::placeholder {
    color: var(--text-dark); 
    opacity: 5;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 110px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    height: 100%;
    background: linear-gradient(to right, var(--text-dark));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

/*----------------------------------------------*/
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.password-wrapper input.pass {
    width: 100%;
    padding: 10px 130px 12px 17px; /* space for the eye button */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 13px;
    outline: none;
    transition: border-color 0.3s ease;
}

.password-wrapper input.pass:focus {
    border-color: #007BFF;
}

.password-wrapper .pass__h {
    position: absolute;
    right: -6px;
    bottom: 4px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.password-wrapper .pass__h:hover{
    background-color: transparent;
}

.eye-icon {
    width: 20px;
    height: 20px;
}